{% extends 'index/base.html' %}
{% block title %}{{game.name}}{% endblock %}
{% block content%}
<div class="modal fade  no-hightlight" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
      <!-- <div class="container w-100"> -->
        <div class='row w-100 m-0 p-0'>
          <img id='modal-image' class=' p-0 border w-100 h-100 shadow-lg shadow shadow-sm border-dark light-round-all' src="" alt="an image for {{game.name}}">
        </div>
      <!-- </div> -->
    </div>
  </div>
<div class='gray p-5 py-4'>
    <div id='game-page-container' class='container'>
        <div class="row mb-3">
            <div class="col-12 col-lg-11 col-xxl-9 mx-auto d-flex flex-row">
                <a id='backBtn' class='btn btn-sm btn-outline-dark border border-dark d-inline me-1' href="#">Go Back</a>
                <form method='POST' action='/forum/post/new/{{game.id}}' class='me-1'>
                    <input type="hidden" name='name' value='{{game.name}}'>
                    <input type="hidden" name='background_image' value='{{game.background_image}}'>
                    <input type="hidden" name='release_date' value='{{game.released}}'>
                    <button class='btn-outline-dark btn btn-sm' href="/games/news/{{game.id}}">Let's talk about it</button>
                </form>
                <form id='add_favorites_form' class='d-inline'>
                    <input type="hidden" name='game_id' id='game_id' value='{{game.id}}'>
                    <input type="hidden" name='game_name' id='game_name' value='{{game.name}}'>
                    <input type="hidden" name='background_image' id='background_image' 
                    value='{% if game.background_image %}{{game.background_image}}{% else %}null{% endif %}'>
                    <input type="hidden" name='release_date' id='release_date' value='{{game.released}}'>
                    {% set x = namespace(total=0) %}
                    {% for user_fav in g.user.favorites %}
                        {% if game.id == user_fav.game_id %}
                            {% set x.total = 1 %}
                            <button id='fav_button' class='btn btn-sm btn-outline-light border border-dark'>Remove Favorite</button>
                        {% endif %}
                    {% endfor %}
                    {% if x.total == 0 %}
                        <button id='fav_button' class='btn btn-sm btn-outline-dark border border-dark'>Add to Favorites</button>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class='row'>
            <div class='col-12 col-lg-11 col-xxl-10 mx-auto'>
                <div class="row">
                        <div class="col">
                            <!-- ***************Carousel***************** -->
                                <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div id='carouselIndicatorButtons' class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    </div>
                                    <div id='carousel-images' data-bs-toggle="modal" data-bs-target="#Modal" class="carousel-inner border border-dark p-auto rounded-3 shadow">
                                        <div class="carousel-item active">
                                            <img id='img1' data-img='#' src="{{game.background_image}}" class="d-block w-100" alt="{{game.name}} screenshot.">
                                        </div>
                                        {% for screenshot in screenshots.results %}
                                            <div class="carousel-item">
                                                <img id='img' data-img='#' src="{{screenshot.image}}" class="d-block w-100" alt="{{game.name}} screenshot.">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            <!-- ************************************ -->
                        </div>
                        <div id='big-game-details' class="col d-none">
                            <div class="row">
                                <div class="col px-4">
                                    <div class="row">
                                        <div class="col">
                                            <h1 class='display-5 text-center my-0 pt-0'>{{game.name}}</h1>
                                            <hr class='mt-1'>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <b>Released</b>: {{game.released}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span><b>Developers</b>:
                                            {% for dev in game.developers %}
                                                <span class='dev'>{{dev.name}}</span>
                                            {% endfor %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span><b>Platforms</b>: </span>
                                            {% for platforms in game.platforms %}
                                                <span class='dev'>{{platforms.platform.name}}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <span><b>Stores</b>: </span>
                                            {% for stores in game.stores %}
                                                <span class='dev'>{{stores.store.name}}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if game.website %}
                                    <div class="row">
                                        <div class="col">
                                            <a class='link-dark fw-bold' target='_blank' href="{{game.website}}">Website</a> 
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id='small-game-details' class='row d-none'>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h1 class='display-2 text-center mb-0 mt-2'>{{game.name}}</h1>
                                        <hr class='mt-2'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <b>Released</b>: {{game.released}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span><b>Developers</b>:
                                        {% for dev in game.developers %}
                                            <span class='dev'>{{dev.name}}</span>
                                        {% endfor %}
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span><b>Platforms</b>: </span>
                                        {% for platforms in game.platforms %}
                                            <span class='dev'>{{platforms.platform.name}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <span><b>Stores</b>: </span>
                                        {% for stores in game.stores %}
                                            <span class='dev'>{{stores.store.name}}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if game.website %}
                                <div class="row">
                                    <div class="col">
                                        <a class='link-dark fw-bold' target='_blank' href="{{game.website}}">Website</a> 
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <hr class='border border-dark mx-auto mb-3'>
                </div>
    </div>
    <div class='row'>
        <div class='col-12 col-lg-11 col-xxl-9 mx-auto'>
            <span class='text-center'>
                {{game.description|safe}}
            </span>
        <hr class='border border-dark mx-auto mb-3 mt-1'>
        </div>
    </div>
</div>
{% endblock %}
{% block scripttags %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ url_for('games_bp.static', filename='g_details.js')}}"></script>
{% endblock %}