{% extends 'index/base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class='max-height dark-gray'>
    <div class='gray'>
        <div class='container'>
            <div class='row'>
                <div class='col-11 col-sm-11 col-md-9 col-lg-7 col-xl-6 col-xxl-5 m-auto'>
                    <form class='m-4 light-round-all shadow-lg bg-dark p-5 pb-4 pt-2' method='POST'>
                        <h1 class='text-light display-5 mt-0 mb-0'><small>Reset Password</small></h1>
                        <hr class='mt-0 mb-1 bg-light'>
                        <p class='text-light mb-4'><small>Please submit your email below and we'll 
                            send an email your way.</small></p>
                        {{form.hidden_tag()}}
                        {% for field in form if field.widget.input_type != 'hidden' %}
                            <div class='form-floating'>
                                {{field(class_='form-control rounded')}}
                                {{field.label(class_='ms-2 form-label shadow-sm')}}
                            </div>
                        {% endfor %}
                        <button class='d-block m-auto shadow btn nav-user-btn mb-2 mt-3'>Send Email</button>
                    </form>
                </div>
            </div>
        </div>
        <div class='max-height dark-gray'>
        </div>
    </div>
</div>
{% endblock %}