{% extends 'index/base.html' %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="gray">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 col-xxl-8 mx-auto px-4">
                <div class="row">
                    <div class='text-center overflow-show pb-0'>
                        <h1 class='display-1 text-center d-inline-block mb-0'>GamesHunter FAQ</h1>
                        <hr class='mt-0 bg-dark border border-dark'>
                    </div>
                </div>
                <div class="row">
                    <ul style='list-style-type: none;' class='mt-3'>
                        
                        <li class='fs-1'>
                            What is GamesHunter?
                        </li>
                        <p class='mb-4'>GamesHunter is a project for my SpringBoard education course. This is my first ever website where I built everything you see from scratch. (With the exception of the game information of course, that information comes from API's).</p>

                        <li class='fs-1'>
                            How do I make a forum post?
                        </li>
                        <p class='mb-4'>To make a forum post you need to head to a game's detail page and you'll see a button labeled "Let's talk about it". Alternatively, you'll see a similar button when mousing over the cards on the <a class='link-light' href="/games">Game</a> search page.</p>

                        <li class='fs-1'>
                            Why don't you have anymore FAQ questions?
                        </li>
                        <p>As previously stated, this is a project for my SpringBoard education course. The main focus is the ability to build something, not neccesarily the content itself. Plus I can't think of anymore. Three seems like a good number to stop at.</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}