{% extends 'index/base.html'%}
{% block title %}Support{% endblock %}
{% block content %}
<div class="gray">
    <div class="container p-2 py-5">
        <div class="row">
            <div class="col">
                <div class="row my-5">
                    <div class="col me-2">
                        <a class='text-dark text-decoration-none no-highlight' href="/feedback">
                            <div class='text-center my-0'><i class="far fa-envelope display-1"></i></div>
                            <h1 class='text-center mb-1'>Feedback</h1>
                            <p class='text-center'>Give us some feedback on the site. Let us know how we can improve.</p>
                        </a>
                    </div>
                    <div class="col border-start border-end border-dark mx-2">
                        <a class='text-dark text-decoration-none no-highlight' href="/faq">
                            <div class='text-center mt-1 mb-1'><i class="far fa-question-circle display-2"></i></div>
                            <h1 class='text-center mb-1'>FAQ</h1>
                            <p class='text-center'>Have some questions? Check out our FAQ.</p>
                        </a>
                    </div>
                    <div class="col ms-2">
                        <a class='text-dark text-decoration-none no-highlight' href="/report">
                            <div class='text-center mt-3 mb-1'><i class="far fa-flag display-3"></i></div>
                            <h1 class='text-center mb-1'>Report</h1>
                            <p class='text-center'>Need to report an issue? This is the place to do it!</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
