{% extends 'index/base.html' %}
{% block title %}Terms of Service{% endblock %}
{% block content%}
<div class='darker-gray pb-2'>
    <div class='container'>
        <div class="row">
            <div class='col'>
                <h1 class='text-light display-2 text-center mt-2'>Terms of Service</h1>
                <div class='col-10 mx-auto text-light'>
                    <hr>
                    <p class='text-truncate'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur 
                        semper dui ut sapien sagittis sodales. Mauris quis posuere justo. Aliquam 
                        tincidunt risus nulla, ut mollis lorem dapibus vel. Quisque vel eros 
                        pellentesque, eleifend purus nec, maximus est. Duis quis accumsan eros, et 
                        volutpat ligula. Duis aliquam nibh massa, id facilisis elit venenatis quis. 
                        Praesent in luctus eros.
                        
                    </p>
                    <button onclick="document.querySelector('p').classList.remove('text-truncate')">Read more...</button>
                        <button onclick="document.querySelector('p').classList.add('text-truncate')">Read less...</button>
                    <p>
                        Vivamus laoreet a ex a tincidunt. Interdum et malesuada fames 
                        ac ante ipsum primis in faucibus. In porttitor tempus 
                        scelerisque. Aliquam eu iaculis ipsum. Aenean at lacus et nulla 
                        accumsan suscipit a ut lacus. Maecenas sed ex aliquet, 
                        hendrerit massa vel, aliquam odio. Vestibulum turpis felis, 
                        volutpat et ex sit amet, tincidunt tempus orci. Cras posuere 
                        risus ac nisi mattis ultrices.
                    </p>
                    <p>
                        Nunc eleifend cursus lorem vitae lacinia. Aenean felis odio, 
                        pellentesque a congue sed, ultrices et lacus. Aenean faucibus 
                        volutpat est, sed tempor justo euismod auctor. Sed ante elit, 
                        maximus sit amet est sed, bibendum hendrerit sem. Vivamus 
                        vehicula gravida arcu, et accumsan nibh pellentesque eu. 
                        Aliquam in nulla posuere, egestas eros mollis, laoreet magna. 
                        Sed a rhoncus arcu. Sed porttitor tempor ipsum vitae finibus. 
                        Maecenas eget ullamcorper eros. Phasellus vel arcu sit amet 
                        tortor lobortis pretium quis luctus quam. Donec quis eros 
                        ultrices tellus imperdiet auctor. Cras pharetra, sem quis 
                        imperdiet ultricies, turpis justo tempus ligula, at condimentum 
                        tortor dui eget mi. Mauris cursus, mi at mollis tempor, lectus 
                        nulla faucibus diam, eu imperdiet eros tellus molestie nibh. 
                        Sed et accumsan felis, vel pharetra augue.
                    </p>
                    <p>
                        Praesent dui justo, vehicula eget rutrum et, consectetur a 
                        turpis. Donec nibh ipsum, sagittis id magna sed, accumsan 
                        accumsan sapien. Phasellus consectetur est eget purus accumsan,
                         in ultricies odio bibendum. Sed nec erat varius enim molestie 
                         efficitur. Quisque vitae felis lacinia, feugiat nulla quis, 
                         placerat diam. Nam pretium cursus turpis nec commodo. Maecenas 
                         a rhoncus massa, vel commodo dui. In in magna in ipsum 
                         facilisis scelerisque. Phasellus gravida eu arcu a gravida. 
                         Cras rhoncus ex eu mauris scelerisque porttitor eget eu neque. 
                         Duis tincidunt aliquet scelerisque. Quisque vitae maximus dui. 
                         Nulla facilisi.
                    </p>
                    <p>
                        Duis sollicitudin malesuada lacus et vulputate. Fusce hendrerit 
                        a lacus eget vestibulum. Nulla ornare eros nec facilisis 
                        pharetra. Nam venenatis nec urna nec ultricies. Vivamus a nibh 
                        turpis. Aliquam consectetur neque non enim elementum egestas. 
                        Maecenas egestas odio id risus aliquet, vitae rutrum ligula 
                        imperdiet. Fusce sed nunc dui. Interdum et malesuada fames ac 
                        ante ipsum primis in faucibus. Phasellus et nulla id tellus 
                        finibus gravida porttitor eget leo. Phasellus condimentum nunc 
                        vitae neque fermentum, eu vestibulum diam gravida. Curabitur 
                        vitae arcu ligula. Maecenas tortor libero, sollicitudin vitae 
                        mauris eget, scelerisque bibendum lacus. Vivamus dictum ante 
                        in dolor pulvinar, sed malesuada nunc tempus.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur 
                        semper dui ut sapien sagittis sodales. Mauris quis posuere justo. Aliquam 
                        tincidunt risus nulla, ut mollis lorem dapibus vel. Quisque vel eros 
                        pellentesque, eleifend purus nec, maximus est. Duis quis accumsan eros, et 
                        volutpat ligula. Duis aliquam nibh massa, id facilisis elit venenatis quis. 
                        Praesent in luctus eros.
                    </p>
                    <p>
                        Vivamus laoreet a ex a tincidunt. Interdum et malesuada fames 
                        ac ante ipsum primis in faucibus. In porttitor tempus 
                        scelerisque. Aliquam eu iaculis ipsum. Aenean at lacus et nulla 
                        accumsan suscipit a ut lacus. Maecenas sed ex aliquet, 
                        hendrerit massa vel, aliquam odio. Vestibulum turpis felis, 
                        volutpat et ex sit amet, tincidunt tempus orci. Cras posuere 
                        risus ac nisi mattis ultrices.
                    </p>
                    <p>
                        Nunc eleifend cursus lorem vitae lacinia. Aenean felis odio, 
                        pellentesque a congue sed, ultrices et lacus. Aenean faucibus 
                        volutpat est, sed tempor justo euismod auctor. Sed ante elit, 
                        maximus sit amet est sed, bibendum hendrerit sem. Vivamus 
                        vehicula gravida arcu, et accumsan nibh pellentesque eu. 
                        Aliquam in nulla posuere, egestas eros mollis, laoreet magna. 
                        Sed a rhoncus arcu. Sed porttitor tempor ipsum vitae finibus. 
                        Maecenas eget ullamcorper eros. Phasellus vel arcu sit amet 
                        tortor lobortis pretium quis luctus quam. Donec quis eros 
                        ultrices tellus imperdiet auctor. Cras pharetra, sem quis 
                        imperdiet ultricies, turpis justo tempus ligula, at condimentum 
                        tortor dui eget mi. Mauris cursus, mi at mollis tempor, lectus 
                        nulla faucibus diam, eu imperdiet eros tellus molestie nibh. 
                        Sed et accumsan felis, vel pharetra augue.
                    </p>
                    <p>
                        Praesent dui justo, vehicula eget rutrum et, consectetur a 
                        turpis. Donec nibh ipsum, sagittis id magna sed, accumsan 
                        accumsan sapien. Phasellus consectetur est eget purus accumsan,
                         in ultricies odio bibendum. Sed nec erat varius enim molestie 
                         efficitur. Quisque vitae felis lacinia, feugiat nulla quis, 
                         placerat diam. Nam pretium cursus turpis nec commodo. Maecenas 
                         a rhoncus massa, vel commodo dui. In in magna in ipsum 
                         facilisis scelerisque. Phasellus gravida eu arcu a gravida. 
                         Cras rhoncus ex eu mauris scelerisque porttitor eget eu neque. 
                         Duis tincidunt aliquet scelerisque. Quisque vitae maximus dui. 
                         Nulla facilisi.
                    </p>
                    <p>
                        Duis sollicitudin malesuada lacus et vulputate. Fusce hendrerit 
                        a lacus eget vestibulum. Nulla ornare eros nec facilisis 
                        pharetra. Nam venenatis nec urna nec ultricies. Vivamus a nibh 
                        turpis. Aliquam consectetur neque non enim elementum egestas. 
                        Maecenas egestas odio id risus aliquet, vitae rutrum ligula 
                        imperdiet. Fusce sed nunc dui. Interdum et malesuada fames ac 
                        ante ipsum primis in faucibus. Phasellus et nulla id tellus 
                        finibus gravida porttitor eget leo. Phasellus condimentum nunc 
                        vitae neque fermentum, eu vestibulum diam gravida. Curabitur 
                        vitae arcu ligula. Maecenas tortor libero, sollicitudin vitae 
                        mauris eget, scelerisque bibendum lacus. Vivamus dictum ante 
                        in dolor pulvinar, sed malesuada nunc tempus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}